.jumbotron {
  padding-top: 6rem;
  background-color: #f5d4d4;
}
#about {
  padding-top: 6rem;
}
#project {
  padding-top: 6rem;
}
#hobbie {
  padding-top: 6rem;
}
#contact {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.container2 {
  padding-top: 6rem;
}
#skills {
  padding-bottom: 6rem;
}
section {
  padding-top: 6rem;
}
